

input,select,textarea{
    font-size:12px;
}
A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
BODY {
	 FONT-SIZE: 12px; BACKGROUND: #fff;   COLOR: #414141;  font: 12px/1.125 Arial,Helvetica,sans-serif;, Arial, Helvetica, sans-serif;
	 
	 padding: 0;
	margin: 0;
	
}
form{
	margin:0;
	padding:0;
}
#main{
	width:1024px;
	margin: 0 auto; 	
}
/*
#Head{
	width:965px;
	margin-left: 0 0 0 0;
}
#Head #Logo{
	width: 240px;
	height: 31px;
	float: left;
	margin-left: 2px;
}

#Head #HeadTop{
	position:relative;
	width:965px;
	margin:10px auto 10px;
	text-align:left;
}
*/
 #HeadNavBar{
	float:right;
	clear:right;
	
	width:510px;
}
 #HeadNavBar UL{
	margin:0 ;padding:0 0 0 0px;
	float:right;
	list-style-type:none;
}
 #HeadNavBar li{
	float:left;
	height:30px;
	background: url(/images/global/header_mm_sep.gif) left center no-repeat;
}

 #HeadNavBar li.NoSep{
	background: none;
	margin-left: 5px;
}

#HeadNavBar li a{
	display:block;
	padding: 0 6px 0 7px;
	float:left;
	height:30px;
	line-height:30px;
	color: #0f3a66;
	font-size: 13px;
}
#HeadNavBar li a:hover{
	text-decoration: none;
	color: #ff7100;
	}
#MyBuyCar {
	padding-left: 30px!important;
	background: transparent url(/images/global/06baihuo_daohang_11.gif) no-repeat 8px 9px;
}

#HeadNavBar li.phone{
	display:block;
	padding: 0 6px 0 7px;
	float:left;
	height:30px;
	line-height:30px;
	color: #000082;
	font-size: 13px;
}
/*
#Head #ChannelMenu{
	width:965px;
	margin:0 auto;
	text-align:center;
}

#Head #ChannelMenu UL{
	margin:0 auto;padding:0 auto;
}
#Head #ChannelMenuItems{
	width:520px;
	height:33px;
	margin:0 auto;
	clear : both;
}
#Head #ChannelMenuItems li{
	float:left;
	height:33px;
	margin-right:2px;
	LIST-STYLE-TYPE: none;
}
#Head .ChannelMenuItems a{
	display:block;
	float:left;
	height:33px;
	background:transparent url(/images/global/cm_l.gif) left top no-repeat;
	text-decoration:none;
}

#Head .ChannelMenuItems a span{
	display:block;
	float:left;
	height:22px!important;
	height: 22px;
	height : 33px;
	padding:11px 12px 0;
	background:transparent url(/images/global/cm_r.gif) right top no-repeat;
	text-align:center;
	color:#000;
	font-style:normal;
	cursor:pointer;
	cursor:hand;
	font-size: 14px;
}

#Head .ChannelMenuItems a:hover{
	background:transparent url(/images/global/cm_hov_l.gif) left -3px no-repeat;
}
#Head .ChannelMenuItems a:hover span{
	background:transparent url('/images/global/cm_hov_r.gif') right -3px no-repeat;
}

#Head #ChannelMenuItems li#MenuHome a span{
	padding: 11px 20px 0;
}

#Head #SearchBox{
	text-align:left;
	height:58px;
	background:transparent url(/images/global/searchbox_tab_left01.gif) 0 0 no-repeat;
	background-color:#33A8CC;
}
#Head #SearchBox a{
	text-decoration:underline;
	color:#7a0b0b;
}
#Head #SearchBoxTop{
	width: 965px;
	float: left;
	height:34px;
	overflow: hidden;	
}
#Head #SearchForm{
	float:left;
	width:965px;
	height:34px;
    TEXT-ALIGN: center
}
#Head #SearchForm #q{
	width:220px !important;
	width:225px;
}
#Head #SearchForm #search{
	margin-left:23px;
}
#Head #SearchForm #DoSearch{
	width:60px;
}
#Head #SearchForm form{
	display:block;
	padding:7px 0 0 10px !important;
	padding:6px 0 0 10px;
	padding :5px 0 0 10px;  
}

#Head #SearchForm form .name{
	background: transparent url(/images/global/searchimg.gif) 0 0 no-repeat;
	font-weight:bold;
	color:#FFF;
	font-size: 14px;
	PADDING-LEFT: 25px;
}

#Head #HotKeywords{
	float:left;
	text-indent:8px;
	width:965px;
	height:24px;
	margin-left:3px;
	overflow:hidden;
	background:transparent url(/images/global/searchbox_tab_center.gif) 0 0 repeat-x;
}
#Head #HotKeywords .B a{
	text-decoration: none;
}
#Head #HotKeywords ul li{
	float:left;
	white-space:nowrap;
	font-weight:normal;
	margin-top:6px;
	margin-right:5px;
	color:#000;
	LIST-STYLE-TYPE: none;
}
#Head #HotKeywords li span{
	color:#000;
}

#Head #HotKeywords ul li a{
	color:#0328c1;
	font-weight:normal;
}
#Head #HotKeywords ul li a:link,#Head #HotKeywords ul li a:visited{
	color:#0328c1;
    text-decoration: none;
}
#Head #HotKeywords ul li a:hover,#Head #HotKeywords ul li a:active{
	color:#0328c1;
    text-decoration:underline;
}
*/
/*
#MenuHome a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
#MenuHome a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}

#ProducType1Home a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
#ProducType1Home a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}

#ProducType2Home a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
#ProducType2Home a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}

#ProducType3Home a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
#ProducType3Home a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}

#ProducType8Home a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
#ProducType8Home a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}

body.MyAccount ul#ChannelMenuItems li#MyAccountHome a, body.MyAccount ul#ChannelMenuItems li#MyAccountHome a:hover{background:url(/images/global/cm_act_l.gif) left top no-repeat;}
body.MyAccount ul#ChannelMenuItems li#MyAccountHome a span, body.MyAccount ul#ChannelMenuItems li#MyAccountHome a:hover span{background:transparent url(/images/global/cm_act_r.gif) right top no-repeat;font-weight:bold;color:#FFF;}
*/

.focus{
	background-image:url(/images/blue.jpg);
}



.publish_page_bottom{clear : both; width:970px; height:128px; padding:20px 10px 5px 0}
.publish_page_bottom a:link,.publish_page_bottom a:visited{ color:#0041D3; text-decoration:none}
.publish_page_bottom a:hover{ color:#ff7000; text-decoration:underline}
.publish_page_bottom a:active{ color:#bc2931; text-decoration:underline}
.publish_page_bottom *{padding:0;margin:0;}

.publish_page_bottom .b_middle{width:960px;height:127px;float:left;color:#414141;text-align: left;border-collapse:collapse; border-top:solid 1px #cfcfcf}
.publish_page_bottom .b_middle .title{ width:143px; padding-top:6px; padding-bottom:3px; background:url(/images/global/bj_red.gif) no-repeat 42px 12px}
.publish_page_bottom .b_middle td{ padding-left:50px; background:url(/images/global/bj_blue.gif) no-repeat 42px 6px; font-size:12px}
.publish_page_bottom .b_middle h2{ font-size:12px; font-weight:normal}
.publish_page_bottom .b_middle .bj_no{ background:none}
.publish_page_bottom .b_middle .width_1{ padding-left:80px; background:url(/images/global/bj_blue.gif) no-repeat 70px 6px}
.publish_page_bottom .b_middle .t2{background:url(/images/global/bj_red.gif) no-repeat 70px 12px}
.publish_page_bottom .b_middle .width_2{ width:130px; padding-left:30px; background:url(/images/global/bj_blue.gif) no-repeat 22px 6px}
.publish_page_bottom .b_middle .t3{background:url(/images/global/bj_red.gif) no-repeat 22px 12px}
.publish_page_bottom .b_right{ width:970px; height:5px; no-repeat; clear : both}

.publish_bottom_message{ width:970px;text-align:center; height:22px; font-size:12px}
.publish_bottom_message a:link,.publish_bottom_message a:visited{ color:#0041D3; text-decoration:none}
.publish_bottom_message a:hover{ color:#ff7000; text-decoration:underline}
.publish_bottom_message a:active{ color:#bc2931; text-decoration:underline}
.publish_bottom_message *{padding:0;margin:0}

.publish_bottom_message ul{ list-style:none; margin-left:280px}
.publish_bottom_message ul li{ float:left; width:83px; background:url(/images/global/bj_gray.gif) right no-repeat; padding-top:5px; height:17px}
.publish_bottom_message ul .m_right{ background:none; padding-right:0}

.publish_bottom_message2{ width:970px; height:28px; padding:0px 0 20px 0; font-size:12px;}
.publish_bottom_message2 a:link,.publish_bottom_message2 a:visited{ color:#0041D3; text-decoration:none}
.publish_bottom_message2 a:hover{ color:#ff7000; text-decoration:underline}
.publish_bottom_message2 a:active{ color:#bc2931; text-decoration:underline}
.publish_bottom_message2 *{padding:0;margin:0}
.publish_bottom_message2 img{border:0}


.publish_bottom_message2 .copyright{width:560px;height:10px;padding:10px 15px 0 0px;text-align:right;color:#414141;float:left;font-size:12px;}
.publish_bottom_message2 .validate{ width:180px; height:10px; float:left}
.publish_bottom_message2 .validate img{ float:left}
.publish_bottom_message2 .validate p{ float:left; padding:12px 0 0 5px}


/*********************************************/

a.link{
	text-decoration:none
}

#profile {
	background-image: url(/images/navbac.jpg);
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	
	margin-bottom: 10px;
}



#container
{
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	width:1024px;
	height:100px;
	margin-top: 10px;
}
#container #searchdiv {
	background-color: #FFFFFF;
	height: 36px;
	width: auto;
	float: right;
	text-align: center;
	vertical-align: middle;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

#container img {
	float: left;
}
#container #navbar {
	background-color: #FFFFFF;
	float: left;
	height: 40px;
	width: 1024px;
	margin-top: 20px;
	background-image: url(/images/blue-3.jpg);
	background-repeat: repeat-x;
	text-align: left;
	vertical-align: middle;
}
#container #navbar #navitems{
 padding: 0px;
 margin: 0px;
 list-style-type:none;
}
#container #navbar #navitems li {

	text-decoration:none;
	list-style-type:none;
	float: left;
	height: 40px;
	width: 85px;
	font-size: 16px;
	font-style: normal;
	line-height: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
}
#container #navbar #navitems li:hover {
	
	background-image: url(/images/blue.jpg);
	background-repeat: no-repeat;
}
#container #navbar #navitems li	a{
	font: bold 15px/40px "microsoft yahei";
	color:#FFFFFF;
	margin-top: auto;
	margin-bottom: auto;
	height: 40px;
	width: 85px;
}
#container #navbar #navitems li	a:hover{
	text-decoration: none;
	}
#profileContext {
	font: normal 12px/30px "microsoft yahei";
	height: 30px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	font-family: "microsoft yahei";
	vertical-align: middle;
	background-image: url(/images/navbac.jpg);
	background-repeat: repeat-x;
}

#container #navbar #navitems li	a.hover{
	cursor:pointer;
	
	background-image: url(/images/blue.jpg);
	background-repeat: no-repeat;
}

#searchbar
{
	font-size: 14px;
	font-family: "microsoft yahei";
	line-height: 16px;
	text-align: left;
	vertical-align: middle;
	float: right;
	height: 32px;
	width: 350px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image:url('/images/search-bar1.png');
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
}
#submit{
	float: right;
	font: bold 15px/40px "microsoft yahei";
	line-height: 14px;
	background-image: url('/images/search-btns.png');
	background-repeat: no-repeat;
	height: 34px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: auto;
	margin-bottom: auto;
	color: #EEEEEE;
	font-weight: normal;
	white-space: pre;
	cursor: pointer;
}

.r5px {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-background-clip: padding-box;
}
.button_blue {
	background:#0D72D2;
	background:-webkit-gradient(linear,left top,left bottom,from(#0D72D2),to(#0A5EC2));
	background:-moz-linear-gradient(center top,#0D72D2,#0A5EC2);/*by disinfeqt*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D72D2',endColorstr='#0A5EC2');
	-moz-box-shadow:0 1px 0 #4793DA inset,0 1px 0 #0D4E86;
	-webkit-box-shadow:0 1px 0 #4793DA inset,0 1px 0 #0D4E86;
	-o-box-shadow:0 1px 0 #4793DA inset,0 1px 0 #0D4E86;
	box-shadow:0 1px 0 #4793DA inset,0 1px 0 #0D4E86;
	border:1px solid #054388;
	color:#FFFFFF;
	cursor:pointer;
	display:inline-block;
	font:bold 14px/17px "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:6px 15px;
	text-align:center;
	text-shadow:-1px -1px 0px #204877;
	vertical-align:middle;
}
.last .button_blue {
	font-weight: normal;
	width:68px;
	padding:6px 0;
	*padding:7px 0 3px;
	*line-height: 16px;
	margin: 2px 0 0 0\9;
}
.button_blue:active {
	background:#0c66c6;
	background:-webkit-gradient(linear,left top,left bottom,from(#0c69cc),to(#0a57b8));
	background:-moz-linear-gradient(top,#0c69cc,#0a57b8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C69CC',endColorstr='#0A57B8');
	-moz-box-shadow:0 1px 4px #094685 inset,0 1px 0 #598eb8;
	-webkit-box-shadow:0 1px 4px #094685 inset,0 1px 0 #598eb8;
	-o-box-shadow:0 1px 4px #094685 inset,0 1px 0 #598eb8;
	box-shadow:0 1px 4px #094685 inset,0 1px 0 #598eb8;
}
#ie6-warning {
	padding:10px;
	margin:0;
	border-bottom:1px solid gray;
	font-size:12px;
	z-index:999;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	background:white;
	color:black;
	text-align:center;
}
#ie6-warning a {
	text-decoration:underline;
	color:black;
}
.zu-index-link-apply-x1 {
	display:block;
	border-top:solid 1px #135C97;
	padding:10px;
	color:#fff;
	color:rgba(255,255,255,.8);
	text-shadow:0 1px 0 #0E4D81;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.zu-index-link-apply-x2 {
	border-bottom:solid 1px #1067a3;
	margin:40px 0 0 0
}
.zu-index-link-apply {
	color:white;
	display:block;
	border:solid 1px #0E538C;
	background:#10619E;
}
.zu-index-link-apply:hover .zu-index-link-apply-x1 {
	color:rgba(255,255,255,1);
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
	#page h1 {
		-webkit-background-size: 90% auto;
	}
	.text {
		margin:0 0 0 15px;
		width:220px;
	}
.text:focus {
	color:#666;
}
.text {
	background-color:#fff;
	box-shadow:0 1px 0 rgba(255,255,255,0.27),1px 1px 2px rgba(0,0,0,0.443) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.27),1px 1px 2px rgba(0,0,0,0.443) inset;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.27),1px 1px 2px rgba(0,0,0,0.443) inset;
	color:#888;
	border:1px solid #054388;
	cursor:text;
	padding:7px 5px;
	font:13px "Helvetica Neue",Arial,sans-serif;
	width:180px;
	display:inline-block;
	ime-mode:disabled;
	margin:0 0 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	
}
